/* martel */
.martel-extralight {
	font-family: 'Martel', serif;
	font-weight: 200;
	font-style: normal;
}

.martel-light {
	font-family: 'Martel', serif;
	font-weight: 300;
	font-style: normal;
}

.martel-regular {
	font-family: 'Martel', serif;
	font-weight: 400;
	font-style: normal;
}

.martel-semibold {
	font-family: 'Martel', serif;
	font-weight: 600;
	font-style: normal;
}

.martel-bold {
	font-family: 'Martel', serif;
	font-weight: 700;
	font-style: normal;
}

.martel-extrabold {
	font-family: 'Martel', serif;
	font-weight: 800;
	font-style: normal;
}

.martel-black {
	font-family: 'Martel', serif;
	font-weight: 900;
	font-style: normal;
}

/* sans */

.coming-soon-regular {
	font-family: 'Coming Soon', serif;
	font-weight: 400;
	font-style: normal;
}

/* montserrat */

.montserrat {
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

body {
	margin: 0;
	line-height: 1.6;
	width: 100%;
	height: 100%;

	/* каскадная таблица для того чтобы учесть границу в элемент */

	/* БОЖЕ НЕ ТРОГАЙ ЭТО ДЕЛАЕТ ЭКРАН ШИРОКИМ */
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

/* container */
.container {
	
	max-width: 1200px;
	margin: 0 auto;
}

/* intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	background: url(/assets/img/fon.jpg) center center no-repeat;

	/* чтобы на весь экран   */

	background-size: cover;
}

.intro_inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro-title {
	color: white;
	font-size: clamp(50px, 10vw, 150px);
	font-family: 'Monomakh', serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	line-height: 1;
}

.intro-suptitle:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	background-color: white;
	margin: 20px auto 0;
	margin-bottom: 60px;
}

.intro-suptitle {
	color: white;
	font-size: clamp(20px, 4vw, 45px);
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	line-height: 1.6;
	text-align: center;
}

/* header */
.header {
	width: 100%;
	position: fixed;
	/* background-color: #1c0038; */
	margin: 0;
	/* прижимаем кверху */
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000000;
	box-shadow: 10px 9px 33px 0px rgba(208, 0, 255, 0.237);
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* logo */
.logo {
	width: 50px;
	border-radius: 50%;
	margin: 15px;
}

/* nav */
.nav {
	font-family: 'Coming Soon', serif;
	font-weight: 400;
	font-style: normal;
	font-size: clamp(12px, 2vw, 14px);
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;

	color: white;
	text-decoration: none;
	/* чтобы цвет менялся плавно */
	transition: color 0.2s linear;
}

/* полоска при наводке */
.nav_link:hover {
	color: aquamarine;
}

/* button */
.btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	border: 2px solid white;
	padding: 8px 25px;
	/* border-radius: 15%; */
	color: white;

	font-size: 30px;
	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;

	transition: border-color 0.3s linear, color 0.3s linear;
}

.btn:hover {
	border-color: #ddbbff;
	/* background-color:white; */
	color: #ddbbff;
}

/* img */
.biography1 {
	width: 100%;
	height: 100%;

	animation: fade 0.5s;
}

.biography2 {
	width: 100%;
	height: 100%;

	animation: fade 0.5s;
}

@keyframes fade {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

/* section1 */
.etogrid {
	/* height: 510px; */
	height: 100%;

	overflow: hidden;
	display: grid;
	grid-template-rows: 3fr 1fr 3fr;
	grid-template-columns: 2fr 1fr 1.5fr 1.5fr;

	grid-template-areas:
		'slider-arrows healthy thirsty thirsty'
		'slider-arrows healthy slider-dots orange'
		'freshy healthy slider-dots orange';

	grid-template:
		'slider-arrows healthy thirsty thirsty' 3fr
		'slider-arrows healthy slider-dots orange' 1fr
		'freshy healthy slider-dots orange' 3fr/2fr 1fr 1.5fr 1.5fr;
}

@media (max-width: 1200px) {
	.etogrid {
		grid-template-rows: auto;
		grid-template-columns: repeat(1fr 0.5fr 0.5fr 1fr);
		grid-template-areas:
			'freshy freshy freshy healthy'
			'slider-arrows slider-arrows slider-arrows healthy'
			'thirsty thirsty thirsty thirsty'
			'slider-dots slider-dots orange orange';
	}

	.slider-dots_items .slider-arrows_items {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.etogrid {
		grid-template-columns: 1fr;
		grid-template-areas: 'healthy' 'slider-arrows' 'freshy' 'slider-dots' 'thirsty' 'orange';
	}
}

.slider-arrows {
	grid-area: slider-arrows;
	position: relative;
	background-color: #1c0038;
}

.slider-arrows_nav {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	transform: translateY(-50%);
}

.slider-arrows_arrow--left {
	color: white;
	font-size: 30px;
	background: none;
	border-radius: 30%;
	border: 2px solid white;
	text-decoration: none;
	transition: border-color 0.3s linear, color 0.3s linear;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.slider-arrows_arrow--right {
	color: white;
	font-size: 30px;
	background: none;
	border-radius: 30%;
	border: 2px solid white;
	text-decoration: none;
	transition: border-color 0.3s linear, color 0.3s linear;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.slider-arrows_items-wrapper {
	width: 100%;
	height: 100%;
	filter: brightness(70%);
	/* display: flex; */
}

.slider-arrows_arrow--right:hover {
	color: #ddbbff;
	border-color: #ddbbff;
}

.slider-arrows_arrow--left:hover {
	color: #ddbbff;
	border-color: #ddbbff;
}

/* slider dots */
.slider-dots {
	grid-area: slider-dots;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1c0038;
}

.slider-dots_nav-item {
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 40%;
	text-decoration: none;
	border-color: white;
	transition: 0.3s opacity;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}
.slider-dots_nav-item:hover {
	opacity: 0.8;
}

.slider-dots_items-wrapper {
	width: 100%;
	height: 100%;
}

.slider-dots_nav-item--active {
	width: 10px;
	height: 10px;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 40%;
	text-decoration: none;

	transition: 0.3s opacity;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.slider-dots_nav-item--active:hover {
	opacity: 0.8;
}

.slider-dots_nav {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	/* position: absolute; */
	top: 20px;
	left: 0;
}

/* section text */
.section {
	background: url(/assets/img/fon_sectionC.jpg) center no-repeat fixed;
	background-size: cover;
	min-height: 100vh; /* Вместо height: 100vh */
	overflow: hidden; /* Чтобы элементы не вылезали */
	transition: transform 0.8s ease-in-out;
}

.section-text {
	margin: 0px auto 3px;
	width: 100%;
	max-width: 950px;
	text-align: center;

	font-family: 'Monomakh', serif;
	font-weight: 400;
	font-style: normal;
}

.section-title {
	font-size: 30px;
	color: white;
}

.section-subtitle {
	font-size: 20px;
	color: white;
}

/* hisory */
.freshy {
	grid-area: freshy;
	background-color: #bb75ff;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

/* .common {
	color: white;
} */

.common-desc {
	max-width: 60%;
	hyphens: auto;

	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	color: #1c0038;
}
.title-article {
	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	line-height: 1;
	text-align: center;
	color: #1c0038;
	padding-bottom: 20px;
}

.healthy {
	grid-area: healthy;
	background-color: #d1a2ff;
	padding-bottom: 200px;
}

.thirsty {
	grid-area: thirsty;
	background-color: #e2c4ff;
}

.common-col-rev {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 5px;
}

.common-row-rev {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
	flex-direction: row-reverse;
}

.thirsty .common-desc {
	/* max-width: 390px; */
}

.orange-img {
	width: 100%;
	height: 100%;
}

.orange {
	grid-area: orange;
	position: relative;
}

.orange-btn {
	position: relative;
	grid-area: orange;
	display: flex;
	justify-content: center;
	align-items: center;
}

.orange-btn-hrev {
	color: white;
	font-size: 30px;
	background: none;
	border-radius: 30%;
	border: 2px solid white;
	text-decoration: none;
	transition: border-color 0.3s linear, color 0.3s linear;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.orange-btn-hrev:hover {
	color: #ddbbff;
	border-color: #ddbbff;
}

/* section2 */

.players {
	width: 100vw;

	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	/* flex-wrap: nowrap; */
	
	padding: 20px;
	gap: 20px;
	flex-wrap: wrap;

	/* gap: 20px; */
}

@media (max-width: 1200px) {
	.players {
	}
}

.player_cheloveco_chasy {
	background-color: #d1a2ff;

	max-width: 250px;
	max-height: 300px;
	width: 100%;
	padding: 25px;
}

.player_intim {
	background-color: #d1a2ff;

	max-width: 250px;
	max-height: 300px;
	width: 100%;
	padding: 25px;
}

.player_shans {
	background-color: #d1a2ff;

	max-width: 250px;
	max-height: 300px;
	width: 100%;
	padding: 25px;
}

.player_na_virost {
	background-color: #d1a2ff;

	max-width: 250px;
	max-height: 300px;
	width: 100%;
	padding: 25px;
}

.player_sohranit_kak {
	background-color: #d1a2ff;

	max-width: 250px;
	max-height: 300px;
	width: 100%;
	padding: 25px;
}
.cover {
	display: flex;
	justify-content: center;
}

.song {
	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 100;
	text-align: center;
}

.img_cover {
	width: 100%;
}

.progress_container {
	border-radius: 5px;
	width: 100%;
	height: 10px;
	margin-top: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: #e2c4ff;

	.progress {
		background-color: black;
		border-radius: 5px;
		height: 6px;
		width: 150px;
	}
}

.albom_title {
	writing-mode: vertical-rl;
	text-orientation: upright;

	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 100;
	text-align: center;
}

.section2_suptitle {
	display: flex;
	justify-content: center;

	
}

.player_buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 184px;
	width: 100%;
	margin: 0 auto;
	margin-top: 3px;
}

.shanseee {
	display: flex;
	justify-content: center;
}

.stars {
	width: 100%;
	text-align: center;

	display: none;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;

	opacity: 0;
	transform: scale(0.9);
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.star {
	width: 200px;
	cursor: pointer;
	transition: 0.2s;
	color: #d1a2ff;
	font-size: 150px;
}
.star:hover,
.star:hover ~ .star {
	color: #bb75ff;
}

.stars[data-stars-value='1'] .star:nth-child(n + 5),
.stars[data-stars-value='2'] .star:nth-child(n + 4),
.stars[data-stars-value='3'] .star:nth-child(n + 3),
.stars[data-stars-value='4'] .star:nth-child(n + 2),
.stars[data-stars-value='5'] .star:nth-child(n + 1) {
	color: #9529ff;
}

.fade-out {
	opacity: 0;
}

@media (max-width: 600px) {
	.star {
		font-size: 100px;
	}
}

/* section-video */

.section-video {
	position: relative;
}

.slide-video {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.slide-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-video {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: absolute;

	pointer-events: none;
}

.content-video .video-btn {
	pointer-events: auto;
}
.progress_container_video {
	pointer-events: auto;
}
.progress_video {
	pointer-events: auto;
}

.video_title {
	font-size: calc(30px+ (80-30) * ((100vh-300px) / (1600px-300px)));

	font-family: 'Monomakh', serif;
	font-weight: 400;
	font-style: normal;
	color: #1c0038;

	margin-bottom: 20px;
}

.video-suptitle {
	font-size: calc(20px+ (80-20) * ((100vh-300px) / (1600px-300px)));

	font-family: 'Monomakh', serif;
	font-weight: 400;
	font-style: normal;
	color: #1c0038;
	max-width: 60rem;
}
.video-btn {
	display: inline-block;
	padding: 1rem 4rem;
	text-decoration: none;
	border: 3px solid black;
	color: #1c0038;
	cursor: pointer;

	font-family: 'Monomakh', serif;
	font-weight: 800;
	font-style: normal;
	font-size: 1.4rem;
}

.slide-container-video {
	display: none;
}

.activ-video {
	display: block;
}

.progress_container_video {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	width: 80%;
	height: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: #e2c4ff;
}

.progress_video {
	background-color: black;
	border-radius: 5px;
	height: 6px;
	width: 150px;
}

.video_left {
	position: absolute;
	top: 50%;
	left: 60px;
	transform: translateY(-50%);
	font-size: 40px;
	cursor: pointer;
}

.video_right {
	position: absolute;
	top: 50%;
	right: 60px;
	transform: translateY(-50%);
	font-size: 40px;
	cursor: pointer;
}

@media (max-width: 880px) {
	.video_right,
	.video_left {
		position: absolute;
		top: 90%;
	}
}

/* footer */
.footer {
	width: 100%;
	background-color: #1c0038;
	display: flex;
	justify-content: space-around;
	padding: 20px 30px;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}

.text-foo {
	font-size: 30px;
	color: #ddbbff;
	padding: auto;
	text-align: center;
}



.footer-svaz {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.email {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	
	
}


.form-text {
	height: 40px;
	font-family: sans-serif;
	
}

.form-btn {
	height: 40px;
	border: 5px;
	
	
	
}

.icon-foo {
	height: 50px;
	width: 50px;
	
}
