/* martel */
.martel-extralight {
	font-family: 'Martel', serif;
	font-weight: 200;
	font-style: normal;
}

.martel-light {
	font-family: 'Martel', serif;
	font-weight: 300;
	font-style: normal;
}

.martel-regular {
	font-family: 'Martel', serif;
	font-weight: 400;
	font-style: normal;
}

.martel-semibold {
	font-family: 'Martel', serif;
	font-weight: 600;
	font-style: normal;
}

.martel-bold {
	font-family: 'Martel', serif;
	font-weight: 700;
	font-style: normal;
}

.martel-extrabold {
	font-family: 'Martel', serif;
	font-weight: 800;
	font-style: normal;
}

.martel-black {
	font-family: 'Martel', serif;
	font-weight: 900;
	font-style: normal;
}

/* sans */

.coming-soon-regular {
	font-family: 'Coming Soon', serif;
	font-weight: 400;
	font-style: normal;
}

/* montserrat */

.montserrat {
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

body {
	margin: 0;
	line-height: 1.6;
	width: 100%;
	max-width: 1600px;
	height: 100%;
	max-height: 700px ;

	/* каскадная таблица для того чтобы учесть границу в элемент */
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(/Veb_diz/assets/img/fon.jpg) center center no-repeat;

	/* чтобы на весь экран   */

	background-size: cover;
}

.intro_inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro-title {
	color: white;
	font-size: 150px;
	font-family: 'Monomakh', serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	line-height: 1;
}

.intro-suptitle:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	background-color: white;
	margin: 20px auto 0;
	margin-bottom: 60px;
}

.intro-suptitle {
	color: white;
	font-size: 45px;
	font-family: 'Montserrat', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	line-height: 1.6;
	text-align: center;
}

/* header */
.header {
	width: 100%;
	position: absolute;
	margin: 0;
	/* прижимаем кверху */
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* logo */
.logo {
	width: 50px;
	border-radius: 50%;
	margin: 15px;
}

/* nav */
.nav {
	font-family: 'Coming Soon', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;

	color: white;
	text-decoration: none;
	/* чтобы цвет менялся плавно */
	transition: color 0.2s linear;
}

/* полоска при наводке */
.nav_link:hover {
	color: aquamarine;
}

/* button */
.btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	border: 2px solid white;
	padding: 8px 25px;
	/* border-radius: 15%; */
	color: white;

	font-size: 30px;
	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;

	transition: border-color 0.3s linear, color 0.3s linear;
}

.btn:hover {
	border-color: aqua;
	/* background-color:white; */
	color: aqua;
}

/* img */
.biography1 {
	width: 100%;
	height: 100%;
}

.biography2 {
	width: 100%;
	height: 100%;
}

/* section1 */
.etogrid {
	/* height: 510px; */
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 3fr 1fr 3fr;
	grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
	grid-template-areas:
		'slider-arrows healthy thirsty thirsty'
		'slider-arrows healthy slider-dots orange'
		'freshy healthy slider-dots orange';

	grid-template:
		'slider-arrows healthy thirsty thirsty' 3fr
		'slider-arrows healthy slider-dots orange' 1fr
		'freshy healthy slider-dots orange' 3fr/2fr 1fr 1.5fr 1.5fr;
}

.slider-arrows {
	grid-area: slider-arrows;
	position: relative;
}

.slider-arrows_nav {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	transform: translateY(-50%);
}

.slider-arrows_arrow--left {
	color: white;
	font-size: 30px;
	background: none;
	border-radius: 30%;
	border: 2px solid white;
	text-decoration: none;
	transition: border-color 0.3s linear, color 0.3s linear;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.slider-arrows_arrow--right {
	color: white;
	font-size: 30px;
	background: none;
	border-radius: 30%;
	border: 2px solid white;
	text-decoration: none;
	transition: border-color 0.3s linear, color 0.3s linear;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.slider-arrows_items-wrapper {
	width: 100%;
	height: 100%;
	filter: brightness(70%);
	/* display: flex; */
	
}

.slider-arrows_arrow--right:hover {
	color: aquamarine;
	border-color: aquamarine;
}

.slider-arrows_arrow--left:hover {
	color: aquamarine;
	border-color: aquamarine;
}

/* slider dots */
.slider-dots {
	grid-area: slider-dots;
	position: relative;
	width: 100%;
	height: 100%;
}


.slider-dots_nav-item {
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 40%;
	text-decoration: none;
	border-color: white;
	transition: 0.3s opacity;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}
.slider-dots_nav-item:hover {
	opacity: 0.8;
}

.slider-dots_items-wrapper{
	width: 100%;
	height: 100%;
}

.slider-dots_nav-item--active {
	width: 10px;
	height: 10px;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 40%;
	text-decoration: none;

	transition: 0.3s opacity;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.slider-dots_nav-item--active:hover {
	opacity: 0.8;
}

.slider-dots_nav {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	/* position: absolute; */
	top: 1px;
	left: 0;
}

/* section text */
.section1 {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	/* height: 600px; */
}

.section1-text {
	margin-bottom: 10px;
	margin: 0px auto 3px;
	width: 100%;
	max-width: 950px;
	text-align: center;

	font-family: 'Monomakh', serif;
	font-weight: 400;
	font-style: normal;
}

.section1-title {
	font-size: 30px;
}

.section1-subtitle {
	font-size: 20px;
}

/* hisory */
.freshy {
	grid-area: freshy;
	background-color: #bfbd30;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

/* .common {
	color: white;
} */

.common-desc {
	max-width: 60%;
	hyphens: auto;

	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	color: white;
}
.title-article {
	font-family: 'Oswald', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	line-height: 1;
	text-align: center;
	color: white;
	padding-bottom: 20px;
}

.healthy {
	grid-area: healthy;
	background-color: #bf3030;
	padding-bottom: 200px;
}

.thirsty {
	grid-area: thirsty;
	background-color: #352f85;
}

.common-col-rev {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 5px;
	justify-content: flex-start;
}

.common-row-rev {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
	flex-direction: row-reverse;
	
}

.thirsty .common-desc{
	/* max-width: 390px; */
}

.orange-img{
width: 100%;
height: 100%;
}

.orange{
 grid-area: orange;
 position: relative;
}

.orange-btn{
	grid-area: orange;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.orange-btn-hrev{
	position: absolute;

	color: white;
	font-size: 30px;
	background: none;
	border-radius: 30%;
	border: 2px solid white;
	text-decoration: none;
	transition: border-color 0.3s linear, color 0.3s linear;

	font-family: 'Coming Soon', serif;
	font-weight: 600;
	font-style: normal;
}

.orange-btn-hrev:hover {
	color: aquamarine;
	border-color: aquamarine;
}


